/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Sidebar CSS
 */
#sidebar {
  background-color: #fff;
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 310px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 260px;
  }
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img.logo { 
  width: 150px;
}
.tip {
  background-color: #f2f2f2;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}
